<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Cadastro Cliente </title>
</head>

<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Loja</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/formulario_cliente">Cliente</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/formulario_item">item</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/paginaPedido2">Pedido</a>
                    </li>


                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </div>
    <br>

    <div class="row">
        <h5 class="container">Selecione os itens:</h5>
    </div>

    <div class="container">
        <form action="/cadastrarPedido">
                <div class="form-group">
                        <input type="hidden" th:value="${cliente.id}" name="idCliente">
                        <label for="sltItens">Itens: </label>
                        <select multiple class="form-control" id="sltItens" name="idItens" >
                            <option th:each="item: ${itens}" th:text="${item.nome}" th:value="${item.id}" ></option>                
                        </select>

                        <button type="submit" class="btn btn-primary">Cadastrar</button>
                    </div>
        </form>
        
    </div>

</body>

</html>